{% extends 'TarefasBundle::base.html.twig' %}

{% block body -%}
    <h1>Tarefas edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('passos_new', {'id_tarefa' : entity.id}) }}">
            Passos
        </a>
    </li>
    <li>
        <a href="{{ path('tarefas') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
